html, body {
    font-family: 'Rubik', sans-serif;
}
.container {
    display: flex;
    column-gap: 80px;
}

.posts {
    flex: 1;
}

.createPosts{
    flex: 1;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }